* {
    box-sizing: border-box;
}

:root {
    --color-yellowish: #ebc07b;
    --color-redish: #912d1e;
    --color-white: rgb(214, 209, 209);
    --color-brown: rgb(37, 17, 0);
    --color-background: #ebc07b8f;
}

/* mobile first */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(../images/FR_Manual_v1.1-000.png);
    background-size: cover;
    background-position: center;
}

/* header */
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img {
    width: 100%;
}

.header__title {
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--color-yellowish);
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: var(--color-brown);
}

.header__title-span {
    color: var(--color-white)
}

.header__nav {
    width: 100%;
}

.header__nav-ul {
    display: flex;
    justify-content: space-around;
}

.header__nav-li {
    font-size: 0.8rem;
}

.header__nav a {
    font-weight: bolder;
    padding: 0.2rem;
    background-color: var(--color-background);
    border-radius: 5px;
    border: 1px solid;
    color: var(--color-redish);
    text-decoration: none;
}

/*main*/
main{
    width: 90%;
    color: var(--color-brown);
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--color-background);
    display: flex; 
    flex-direction: column;
    align-items: center;    
}

/*resume*/
.section__resume{
    display: flex;
    flex-direction: column;
}
.section__resume-title{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .1rem;
    align-self: center;
}
.section__resume-desc{
    padding: 0 1rem;
    align-self: center;
}
.section__resume-strong{
    color: var(--color-redish);
    font-weight: bolder;
}

/*cards*/
.section__cards-ul{
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
}
.section__cards-li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__cards-img{
        width: auto;
        height: 3.5rem;
}
.section__cards-subtitle{
    font-weight: bold;
    text-align: center;
}

/*footer*/
.footer{
    padding-top: 1rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
}
.footer__image{
    justify-self: flex-end;
    margin: .5rem;
    width: auto;
    height: 3.5rem;
}

@media (min-width: 600px) /*tablet/laptop*/
{
    .header__title {
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: var(--color-brown);
        font-size: 2.5rem;
    }
    .header__nav-li {
        font-size: 1rem;
    }
}

@media (min-width: 960px) /*normal screen*/
{
    main{
        width: 75%;
        padding: 3rem;
    }
    .section__cards-li{
        padding: 0 2rem;
    }
    .header__nav{
        width: 80%;
    }
}